%ul.legend-list
  %li
    = partial "/images/maturity/planned.svg"
    &nbsp;
    = succeed ": Not yet implemented in GitLab, but on our roadmap." do
      %b Planned
  %li
    = partial "/images/maturity/minimal.svg"
    &nbsp;
    = succeed ": Available in the product, but may not be ready for production use, yet." do
      %b Minimal
  %li
    = partial "/images/maturity/viable.svg"
    &nbsp;
    = succeed ": Significant use at GitLab the company." do
      %b Viable
    = link_to "UMUX Lite score", "/handbook/engineering/ux/category-maturity-scorecards/#how-to-apply-and-score-the-umux--lite"
    at least 3.14 for the primary job to be done (JTBD) when tested with internal users. No assessment of secondary jobs to be done.
  %li
    = partial "/images/maturity/complete.svg"
    &nbsp;
    = succeed ": GitLab the company dogfoods it exclusively. At least 100 customers use it. UMUX Lite score at least 3.63 for primary and secondary JTBDs when tested with external users." do
      %b Complete
  %li
    = partial "/images/maturity/lovable.svg"
    &nbsp;
    = succeed ": UMUX Lite scores at least 3.95 for primary and secondary JTBDs when tested with external users." do
      %b Lovable
